*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.area-form {
  background-color: rgba(255, 255, 255, 0.75);
  width: 474px;
  height: 400px;  
  margin: 0 auto;
  margin-top: 8%;
  border-radius: 51px;
  box-shadow: 5px 5px 5px #010509;
}


#titulo-cad{
  filter: none;
  font-size: 20px;
  text-align: center;
  padding: 30px;
  color: #000000;
}

.group{ 
  position:relative; 
  margin-bottom:45px; 
  display:flex;
  justify-content: center;
  
}

#nome{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid rgb(0, 0, 0);
}

#nome:focus{
   outline:none; 
}

#preco{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid rgb(0, 0, 0);
  filter: none;
}

#preco:focus{
   outline:none; 
}

#label{
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 28%;
  top: 10px;
  transform: translateX(-50%);
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

/* active state */
#nome:focus ~ #label, #nome:valid ~ #label{
  top:-20px;
  font-size:14px;

}

#preco:focus ~ #label, #preco:valid ~ #label{
  top:-20px;
  font-size:14px;
}

.centraliza-form{
  margin-top: 5%;
} 

.btn{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.submit{
  border: 0.1px solid #84868c;
  font-size: 18px;
  width: 220px;
  height: 40px;
  background-color: #bec4db;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.submit:hover{
  border: none;
  background-color: #1A2560;
  color: #ffffff;
}

input{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.037);
}