.hero{
    height: 60vh;
    width: 100%;
  }
    
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

ul{
  display: flex;
  align-items: center;
  padding-right: 5%;
}

#logo1{
  width: 10%;
}

#logo2{
  width: 6%;
}

span{
  color: rgb(216, 193, 108);
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 90px;
}

nav ul li a{
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: burlywood;
  transition: .3s;
}
