* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 25, 54);
}

.hero-menu {
  background-color: rgb(15, 25, 54);
  width: 100%;
}


.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.ul-menu {
  display: flex;
  align-items: center;
}

#logo1 {
  width: 8%;
  margin-left: -20px;
}

#logo2 {
  width: 4%;
  margin-right: 20px;
}

.li-menu {
  list-style-type: none;
  display: inline-block;
  padding: 10px 90px;
}

.li-menu a {
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.li-menu a:hover {
  color: burlywood;
  transition: .3s;
}
