
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: FreeMono, monospace;
    background-size: cover;
}

.tabela {
    width: 95%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}


.tabela th {
    color: #000000;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #000000;
}


.tabela td {
    color: #000000;
    text-align: left;
    font-size: 20px;
    padding: 30px;
    border-bottom: 1px solid #000000;
}

.geral {
    background-color: rgba(255, 255, 255, 0.75);
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

#lixo{
    color: red;
    font-size: 25px;
    transition: 2s;
}

#edit{
    color: rgb(4, 20, 159);
    font-size: 25px;
}
